<footer id="footer" class="footer border-top">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="{% url 'index' %}" class="logo d-flex align-items-center">
            <span class="sitename">نیکان</span>
          </a>
          <div class="footer-contact pt-3">
            <p>{{manager_static_data.address}}</p>
             <p class="mt-3">
              <strong>تلفن:</strong>
               <a class="text-dark" href="tel:{{manager_static_data.phone}}">{{manager_static_data.phone}}</a> 
              </p>
            <p>
              <strong>ایمیل:</strong>
              {% if  manager_static_data.email %}
              
              <a href="mailto: {{manager_static_data.email}}">{{manager_static_data.email}}</a>
              {% endif %}
              </p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href="https://x.com/{{manager_static_data.twitter}}"><i class="bi bi-twitter-x"></i></a>
            <a href="https://wa.me/{{manager_static_data.whatsapp}}"><i class="bi bi-whatsapp"></i></a>
            <a href="https://t.me/{{manager_static_data.telegram}}"><i class="bi bi-telegram"></i></a>
            <a href="https://instagram.com/_u/{{manager_static_data.instagram}}/"><i class="bi bi-instagram"></i></a>
          </div>
        </div>


    

    
      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>  © تمامی حقوق این وبسایت متعلق به موسسه  <strong class="px-1 sitename">نیکان</strong> می باشد.</p>
    </div>

  </footer>