{% extends "base.html" %}
{% load static %}
{% block title %}عضویت{% endblock title %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script src="{% static 'js/jquery.js' %}"></script>
{% endblock %}


{% block content %}
{% include "partials/_new_header.html" %}


  <main class="main">

 

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->


      <main class="col-lg-9 col-12 mx-auto p-lg-3 border-right mt-5">
        <div class="login-container d-flex text-right glass-effect p-0 ">
            <div class="image-wapper d-flex"
                style="background-position: right; background-image: url({% static 'img/reset_pass.jpeg' %});">
                <h1>فراموشی رمز</h1>
            </div>
            <div class="form-wapper">
                <div class="form-header">
                    <h2>بازیابی رمزعبور</h2>
                    <p>اگر رمز خود را فراموش کرده اید تنها با چند کلیک آن را بازیابی کنید!</p>
                </div>
                <div class="form-body">
                    <form name="login" method="POST" class="custom-form form-pill" id="login-form" action="{% url 'change_password' %}">
                        {% csrf_token %}
                        <div class="input-wrapper">
                            <label for="id_phone_number">شماره تماس</label>
                            <input id="id_phone_number" type="number" name="phone_number" placeholder="09*********" />

                        </div>


                        <div class="form-row">

                            <input value="دریافت کد" id="countdown" type="button" style="font-size: .9em;"
                                class=" d-inline-block w-50 mx-auto submit-btn "  data-callback="onSubmit" >

                            {% comment %} <input value="دریافت کد" id="countdown" type="submit" style="font-size: .9em;"
                                class="g-recaptcha d-inline-block w-50 mx-auto submit-btn "
                                data-sitekey="6Lf9nPMqAAAAAI6OTVWp68MGkhE_HJaNC8IisG5B" data-callback="onSubmit"
                                data-action='submit'> {% endcomment %}
                        </div>


                        <div class="otp-confirm" style="display: none;">
                            <div class="input-wrapper">
                                <label for="id_password1">رمز عبور</label>
                                <input id="id_password1" type="password" name="id_password1"
                                    placeholder="**********" /><span class="icon password-control"><i
                                        class="far fa-eye"></i></span>
                            </div>
                            <div class="input-wrapper">
                                <label for="id_password2">تکرار رمز</label>
                                <input id="id_password2" type="password" name="id_password2"
                                    placeholder="**********" /><span class="icon password-control"><i
                                        class="far fa-eye"></i></span>
                            </div>

                            <div class="guide-text">
                                <p>
                                    <span class="icon password-control"><i class="fas fa-warning"></i></span>
                                    رمز عبور شما می‌بایست حداقل از 8 حرف تشکیل شده باشد.
                                </p>
                                <p>
                                    <span class="icon password-control"><i class="fas fa-warning"></i></span>
                                    گذرواژه شما نمی تواند یک گذرواژه معمول باشد.
                                </p>
                            </div>
                            <div class="form-row mt-2 align-items-center">
                                <div class="col6">
                                    <div class="input-wrapper m-2">
                                        <input type="text" id="user_code" name="user_code" required
                                            placeholder="کد تایید">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <input value="ثبت" type="submit" class=" btn w-100  btn-dark"
                                        data-callback="verifySubmit" data-action='submit'>
                                    
                                    {% comment %} <input value="ثبت" type="submit" class="g-recaptcha btn w-100  btn-dark"
                                        data-sitekey="6LcM-OoiAAAAAMMXniuzcBxq888M8yA5EF15_of7"
                                        data-callback="verifySubmit" data-action='submit'>
                                     {% endcomment %}
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="form-footer">
                    <p>عضو هستید؟ <a class="form-link" href="{% url 'signin' %}">ورود</a>
                    </p>
                </div>
            </div>

        </div>
    </main>

    </section>
    <!-- /Starter Section Section -->

  </main>




{% endblock content %}
{% block extra_js %}
{% comment %} <script src="https://www.google.com/recaptcha/api.js" async defer></script> {% endcomment %}
<script src="{% static 'js/reset_pass.js' %}"></script>
{% endblock extra_js %}