{% extends "base.html" %}
{% load static %}
{% block content %}
  

<div class="container-fluid mt-5 pt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-12">
            <img src="{% static 'img/404_error.webp' %}" class=" w-100" style="height: 50vh; object-fit: contain;" alt="">
        </div>
        <div class="col-12 text-center mt-3">
            <div class="row align-items-center">
                    <h3 class="fw-bold">متاسفانه صفحه مورد نظر یافت نشد.</h3>
                    <span class=""><a href="/" class="btn btn-lg btn-warning my-3">بازگشت به خانه</a></span>
                </div>
                 </div>
    </div>
</div>
{% endblock content %}