{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}مدیریت{% endblock title %}

{% block content %}
<main class="main">


    <!-- Breadcrumb Start -->
    {% include "partials/_breadcrumb.html" %}
    <!-- Breadcrumb End -->

    <!-- Dashboard Start -->
    <section class="user-dashboard">
        <div class="container-fluid">
            <div class="row g-3 g-xl-4 tab-wrap">

                <div class="col-10 mx-auto">
                    <div class="right-content tab-content" id="myTabContent">
                        <form method="GET" action="" class="custom-form form-pill mb-3">
                            <div class="row g-3 g-xl-4">
                                <div class="col-sm-5">
                                    <div class="input-box">
                                        <label for="query">نام کاربر:</label>
                                        <input type="text" id="query" name="query" class=" mr-sm-2 form-control"
                                            placeholder="نام و نام خانوادگی" value="{{ request.GET.query }}">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-box">
                                        <label for="amount">مبلغ:</label>
                                        <input type="number" id="amount" name="amount" class=" mr-sm-2 form-control" placeholder="مبلغ به تومان" value="{{ request.GET.amount }}">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-box">
                                        <label for="start_date">از تاریخ:</label>
                                        <input id="start_date" name="start_date" class=" mr-sm-2 form-control" data-jdp value="{{ request.GET.start_date }}">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-box">
                                        <label for="end_date">تا تاریخ:</label>
                                        <input id="end_date" name="end_date" class=" mr-sm-2 form-control" data-jdp value="{{ request.GET.end_date }}">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-box">
                                        <label for="success">فقط پرداخت های موفق:</label>
                                        <input id="success" type="checkbox" name="success" {% if request.GET.success  %}checked{% endif %}>
                                    </div>
                                </div>
                               
                            
                                        <button class="btn btn-secondary " type="submit">جست و جو</button>
                                   
                             
                            </div>
               
                        </form>


                        {% include "partials/_alerts.html" %}
                        <div class="btn-style2 bg-theme-orange2 border-dark w-100">
                            <h3>پرداخت ها</h3>
                            <h6 class="text-danger">
                                <i class="bi bi-exclamation-triangle-fill"></i>
                                فقط پرداخت های موفق در مجموع دریافتی نمایش داده می شود.</h6>
                        </div>
                        <div class="table-responsive mt-3 ">
                            <table class="table table-bordered table-striped text-center ">
                                <thead>

                                    <tr>
                                        <th colspan="4">مجموع دریافتی :</th>
                                        <td colspan="4">{{total_amount|intcomma:False}} تومان</td>
                                    </tr>

                                    <tr>
                                        <th>ردیف</th>
                                        <th>کاربر</th>
                                        <th>مبلغ</th>
                                        <th>تاریخ</th>
                                        <th>زمان</th>
                                        <th>جزئیات</th>
                                        <th>وضعیت پرداخت</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    {% for payment in payments %}
                                    <tr>

                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td> {{payment.user.user.get_full_name}} </td>
                                        <td> {{payment.amount|intcomma:False}} ریال </td>

                                        <td class="pdate">{{payment.date|date:"m/d/Y"}} </td>
                                        <td>{{payment.date|date:"H:i:s"}} </td>
                                        <td><a href="{%url 'payment_check' pk=payment.pk %}">بررسی</a></td>
                                        {% if payment.paid %}
                                        <td class="bg-success text-white ">
                                            موفق
                                            {% else %}
                                        <td class="bg-danger text-white ">
                                            ناموفق
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>

                            </table>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dashboard End -->
</main>


<script>
    jalaliDatepicker.startWatch({
        maxDate: "today",
        showTodayBtn: false,
        showEmptyBtn: false,

    });
</script>
{% endblock content %}