{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}مدیریت{% endblock title %}

{% block content %}
<main class="main">


    <!-- Breadcrumb Start -->
    {% include "partials/_breadcrumb.html" %}
    <!-- Breadcrumb End -->

    <!-- Dashboard Start -->
    <section class="user-dashboard">
        <div class="container-fluid">
            <div class="row g-3 g-xl-4 tab-wrap">


                <div class="col-sm-10 col-md-8 col-xl-6 mx-auto">
                    <div class="right-content tab-content" id="myTabContent">

                        <div class="profile">

                            {% for payment in payments  %}
                            <div class="table-responsive mt-3 glass-effect text-center">

                                <table class="table table-bordered table-striped text-center">
                                    <tbody>
                                        <tr>
                                            <th>پرداخت کننده</th>
                                            <td>{{payment.user.user.get_full_name}}</td>
                                        </tr>
                                        <tr>
                                            <th>وام درخواستی</th>
                                            <td>
                                                {{payment.user.loan_type|intcomma:False}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>دوره بازپرداخت</th>
                                            <td>
                                                {{payment.user.return_period}} ماه
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>شناسه پرداخت</th>
                                            <td>{{payment.ref_id}}</td>
                                        </tr>

                                        <tr>
                                            <th>مبلغ</th>
                                            <td>{{payment.amount|intcomma:False}} <span>نومان</span></td>
                                        </tr>

                                        <tr>
                                            <th>شماره تماس</th>
                                            <td>{{payment.user.user.phone_number}}</td>
                                        </tr>

                                        <tr>
                                            <th>شماره کارت واریز کننده</th>
                                            <td style="direction: ltr;">{{payment.card_number}}</td>
                                        </tr>

                                        <tr>
                                            <th>تاریخ</th>
                                            <td class="pdate">{{payment.date|date:"m/d/Y"}}</td>
                                        </tr>

                                        <tr>
                                            <th>زمان</th>
                                            <td>{{payment.date|date:"H:i:s"}}</td>
                                        </tr>

                                        <tr>
                                            <th>کد فنی</th>
                                            <td>{{payment.status}}</td>
                                        </tr>

                                        <tr>
                                            <th>وضعیت پرداخت</th>
                                            {% if payment.paid %}
                                            <td class="bg-success text-white fs-5">
                                                پرداخت موفق
                                                {% else %}
                                            <td class="bg-danger text-white fs-5">
                                                پرداخت ناموفق
                                                {% endif %}
                                            </td>
                                        </tr>



                                    </tbody>
                                </table>


                                <div class=" mt-3 text-center">
                                    <button class="goBack card-link btn btn-dark w-100  zmt-2"
                                        style="font-size: 1.2rem;">بازگشت</button>
                                </div>

                            </div>
                            {% endfor %}
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dashboard End -->
</main>
{% endblock content %}
{% block extra_js %}
<script>
    function goBack() {
        window.history.back();
    }

    const goBackElements = document.querySelectorAll('.goBack');
    goBackElements.forEach(element => {
 
        element.addEventListener('click', goBack);
    });
</script>
{% endblock extra_js %}